@use "../base/mixins" as *;
@use "../base/media-queries" as *;


/* HOME */

body.du_fvg_lg-body {
  .du_fvg_lg-site-main.du_fvg_lg-home {
    .du_fvg_lg-main-content aside h1 {
      color: var(--blue-dark);
    }

    .du_fvg_lg-box-link {

      a {
        p {
          flex: 0 0 10rem;

          @include mediaQueryAllMobilePortrait {
            flex: 0 0 8rem;
          }
        }
      }
    }
  }
}