@use "../base/mixins" as *;
@use "../base/media-queries" as *;


/* HOME */

body.du_fvg_lg-body {
  .du_fvg_lg-site-main.du_fvg_lg-home {
    .du_fvg_lg-main-content aside h1 {
      color: var(--blue-dark);
    }

    article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 1.5rem;
      padding-bottom: 15svw;
      padding-bottom: 15vw;

      @include mediaQuerySmallDesktopOnly {
        padding-bottom: 10rem;
      }

      @include mediaQueryVerySmallDesktopOnly {
        padding-bottom: 10rem;
      }

      @include mediaQueryAllMobilePortrait {
        padding-bottom: 1.5rem;
      }
    }

    .du_fvg_lg-box-link {

      a {
        p.du_fvg_lg-label-arrow {
          flex: 0 0 10rem;

          @include mediaQueryAllMobilePortrait {
            flex: 0 0 8rem;
          }
        }
      }
    }
  }
}